{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
        .topics{
            transition: 0.2s ease;
        }
        .topics:hover{
            border-color: #0d6efd!important;
        }

    </style>

    <div class="example-wrapper">
        {% for topic in topics %}
            <a style="text-decoration: auto;" href="{{ path('topics',{slug: topic.slug}) }}">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative topics">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Категория</strong>
                        <h3 class="mb-0">{{ topic.name }}</h3>
                        <p class="mb-auto" style="color: black;">{{ topic.text }}</p>
                        <div class="mb-1 text-muted">{{ topic.createDate|date('d.m.Y') }}</div>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg style="text-anchor:middle" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                             role="img"
                             aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>
                                Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Миниатюра</text>
                        </svg>

                    </div>
                </div>
            </a>
        {% endfor %}

    </div>
{% endblock %}
